:host {
  flex-direction: row;
  flex-flow: row;
  flex-wrap: nowrap;
  display: flex;
  width: 100%;

  .links {
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
    min-width: 200px;
    background-color: #f3f8f3;
    padding: 1.5em;

    h3 {
      font-size: 20pt;
      font-weight: normal;
      margin-bottom: 0;
    }

    ul+h3 {
      margin-top: 1em;
    }


    >ul {
      margin: 0;
      padding: 0;
      list-style-position: outside;
      list-style-type: none;
      li {
        line-height: 1em;
        padding: .2em 0;
        width: 100%;
        display: block;
        a {
          transition: border-color .5s;

          &.active {
            border-color: #444;
          }
          &:hover {
            border-color: #444;
          }

          color: #444;
          text-decoration: none;
          padding-left: .5em;
          border-left: 3px solid #aaa;
        }
      }
    }
  }

  .router-outlet {
    flex: 1;
    padding: 1em;

    & /deep/ {

      h1 {
        line-height: 2em;
        border-bottom: 1px solid #ccc;
      }

      h2,
      h3 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: normal;
        color: #444;
        line-height: 1.5em;
        border-bottom: 1px solid #ddd;
      }

      h3 {
        font-size: 18pt;
        border-bottom: 1px solid #eee;
      }


      ul {
        margin-top: 0;
      }

      a[class$="-link"] {
        display: inline-block;
        margin: .2em 0;
        code {
          color: white;
          opacity: 1;
          transition: .5s opacity;
          margin: 0;
          border: none;
        }
        &:hover code {
          opacity: .7;
        }
      }

      a.module-link code {
        background-color: desaturate(lighten(green, 20%), 80%);
      }

      a.source-link code {
        background-color: desaturate(lighten(red, 10%), 30%);
      }

      a.external-link code {
        background-color: desaturate(lighten(blue, 10%), 30%);
      }

      code.decorator {
        background-color: desaturate(lighten(orange, 20%), 10%);
        color: #333;
      }

      code.path {
        background-color: desaturate(lighten(red, 40%), 10%);
        color: #333;
      }
    }
  }
}