<div class="header">
  <div class="img"></div>
  <div class="mat-display-4">Travetto</div>
  <div class="mat-display-3">A Realtime Framework for Everyone</div>
</div>
<div class="content">
  <h2>What is Travetto?</h2>
  <p>
    Travetto is a Typescript framework for building complex backend applications. It is a unique architecture that emphasizes:
  </p>
  <ul>
    <li>Realtime Development &ndash; No need to restart your server to see changes applied</li>
    <li>Realtime Testing &ndash; Testing occurs inline (with VS Code Plugin), on save, giving you instant feedback to your unit tests</li>
    <li>Realtime Modeling &ndash; Modifications to data model reflect immediately, and where necessary, underlying schemas are modified in realtime to support changes</li>
    <li>Typescript Focused &ndash; Leverages the rich type information (as well as some fancy ASTs) to choose smarter defaults.</li>
    <li>Embracing Existing Frameworks &ndash; Utilizies existing frameworks as much as possible, to gain the benefit and maturity that each element provides.</li>
    <li>Other Standard Application Featuers &ndash; Dependendy Injection, Code over Configuration, Test Framework, etc.</li>
  </ul>
</div>