:host {
  display: block;
}

.header {
  height: 400px;
  background-image: url(/assets/landing-bg.jpg);
  background-size: auto 400px;
  background-position: 50% 50%;
  background-repeat: repeat-x;

  div.mat-display-4 {
    padding: 0;
    margin: 0;
    padding-top: 140px;
  }
  div.mat-display-3 {
    margin-top: .5em;
  }
  div.mat-display-3,
  div.mat-display-4 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, .7),
    1px -1px 10px rgba(0, 0, 0, .7),
    -1px 1px 10px rgba(0, 0, 0, .7),
    1px 1px 10px rgba(0, 0, 0, .7);
  }
}

.content {
  width: 1000px;
  margin: 0 auto;
  margin-top: 2em;
}

section {
  min-height: 300px;
  display: flex;
  margin-top: 2em;

  div {
    flex: 1 1 0;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  img {
    flex: 2 2 0;
    background: #eee;
    height: 400px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  }
  div+img,
  img+div {
    margin-left: 10px;
  }

  &:last-child {
    margin-bottom: 2em;
  }
}