:host {
  display: block;
}

.header {
  height: 400px;
  background-image: url(/assets/landing-bg.jpg);
  background-size: auto 400px;
  background-position: 50% 50%;
  background-repeat: repeat-x;

  div.mat-display-4 {
    padding: 0;
    margin: 0;
    padding-top: 140px;
  }
  div.mat-display-3 {
    margin-top: .5em;
  }
  div.mat-display-3,
  div.mat-display-4 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, .7),
    1px -1px 10px rgba(0, 0, 0, .7),
    -1px 1px 10px rgba(0, 0, 0, .7),
    1px 1px 10px rgba(0, 0, 0, .7);
  }
}

.content {
  width: 1000px;
  margin: 0 auto;
  margin-top: 2em;
}

.intro {
  margin-bottom: 1em;
}

section {
  min-height: 300px;
}

section {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}