<div class="header">
  <div class="img"></div>
  <div class="mat-display-4">Travetto</div>
  <div class="mat-display-3">A Realtime Framework for Everyone</div>
</div>
<div class="content">
  <h2>What is Travetto?</h2>
  <p>
    Travetto is a Typescript framework for building complex backend applications. It is a unique architecture that emphasizes:
  </p>
  <ul>
    <li><em>Realtime Development</em> No need to restart your server to see changes applied</li>
    <li><em>Realtime Testing</em> Testing occurs inline (with VS Code Plugin), on save, giving you instant feedback to your unit tests</li>
    <li><em>Realtime Modeling</em> Modifications to data model reflect immediately, and where necessary, underlying schemas are modified in realtime to support changes</li>
    <li><em>Typescript Focused</em> Leverages the rich type information (as well as some fancy ASTs) to choose smarter defaults.</li>
    <li><em>Embracing Existing Frameworks</em> Utilizies existing frameworks as much as possible, to gain the benefit and maturity that each element provides.</li>
    <li><em>Other Standard Application Featuers</em> Dependendy Injection, Code over Configuration, Test Framework, etc.</li>
  </ul>
</div>