<div class="header">
  <div class="img"></div>
  <div class="mat-display-4">Travetto</div>
  <div class="mat-display-3">A Realtime Framework for Everyone</div>
</div>
<div class="content">
  <h1>What is Travetto?</h1>
  <p class="intro">
    Travetto is a Typescript framework for building complex backend applications. It has a unique architecture focused on realtime development.
  </p>

  <section class="realtime-development">
    <h2>Realtime Development</h2>
    <p>
      No need to restart your server to see changes applied.
      <!-- Screen Cap -->
    </p>
  </section>

  <section class="realtime-testing">
    <h2>Realtime Testing</h2>
    <p>
      Testing occurs inline (with VS Code Plugin), on save, giving you instant feedback to your unit tests.
      <!-- Screen Cap -->
    </p>
  </section>

  <section class="realtime-modeling">
    <h2>Realtime Modeling</h2>
    <p>
      Modifications to data model reflect immediately, and where necessary, underlying schemas are modified in realtime to support changes.
      <!-- Screen Cap -->
    </p>
  </section>

  <section class="typescript-focused">
    <h2>Typescript Focused</h2>
    <p>
      Leverages the rich type information (as well as some fancy ASTs) to choose smarter defaults.
      <!-- Screen Cap -->
    </p>
  </section>

  <section class="embracing-existing">
    <h2>Typescript Focused</h2>
    <p>
      Utilizies existing frameworks as much as possible, to gain the benefit and maturity that each element provides.
      <!-- Screen Cap -->
    </p>
  </section>

  <section class="etc">
    <h2>Other Standard Application Features</h2>
    <p>
      Dependendy Injection, Code over Configuration, Test Framework, etc.
      <!-- Screen Cap -->
    </p>
  </section>
</div>