.header {
  position: relative;
  height: 400px;
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 400px;
    background-image: url(/assets/landing-bg.jpg);
    background-size: auto 400px;
    background-position: 50% 50%;
    background-repeat: repeat-x;
    z-index: -1;
  }
  text-align: center;
  div.mat-display-4 {
    padding: 0;
    margin: 0;
    padding-top: 140px;
  }
  div.mat-display-3 {
    margin-top: .5em;
  }
  div.mat-display-3,
  div.mat-display-4 {
    color: white;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, .7),
    1px -1px 10px rgba(0, 0, 0, .7),
    -1px 1px 10px rgba(0, 0, 0, .7),
    1px 1px 10px rgba(0, 0, 0, .7);
  }
}

.content {
  width: 800px;
  margin: 0 auto;
  margin-top: 2em;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin-bottom: 1em;
    em {
      font-weight: bold;
      font-style: normal;
      display: inline-block;
      &::after {
        display: inline-block;
        padding: 0 5px;
        content: '–'
      }
    }
  }
}