<div class="documentation"><h1 id="getting-started">Getting Started</h1>
<p>The following tutorial wil walk you through setting up a <code>travetto</code> application from scratch.  We’ll be building a simple todo application.</p>
<h2 id="steps">Steps</h2>
<ol start="0">
<li><a class="anchor-link" routerLink="." fragment="prerequisites" null>Prerequisites</a></li>
<li><a class="anchor-link" routerLink="." fragment="project-initialization" null>Project initialization</a></li>
<li><a class="anchor-link" routerLink="." fragment="establishing-the-model" null>Establishing the model</a></li>
<li><a class="anchor-link" routerLink="." fragment="configuring-the-data-source" null>Configuring the data source</a></li>
<li><a class="anchor-link" routerLink="." fragment="building-the-service-layer" null>Building the service layer</a></li>
<li><a class="anchor-link" routerLink="." fragment="writing-unit-tests" null>Writing unit tests</a></li>
<li><a class="anchor-link" routerLink="." fragment="creating-the-express-routes" null>Creating the express routes</a></li>
</ol>
<h2 id="prerequisites">Prerequisites</h2>
<h2 id="project-initialization">Project initialization</h2>
<h2 id="establishing-the-model">Establishing the model</h2>
<h2 id="configuring-the-data-source">Configuring the data source</h2>
<h2 id="building-the-service-layer">Building the service layer</h2>
<h2 id="writing-unit-tests">Writing unit tests</h2>
<h2 id="creating-the-express-routes">Creating the express routes</h2>
</div>
