:host {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 300px 1fr;
  grid-column-gap: 20px;
}

.documentation {
  grid-area: content;
  padding: 1em;
}

.documentation-links {
  grid-area: nav;
}