<mat-toolbar color="primary">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="logo">
    <g class="layout">
      <g class="wrapper">
        <path d="M-35 0L-17.5 -30L17.5 -30L35 0L17.5 30L-17.5 30"></path>
      </g>
      <text x="0" y="10">T</text>
    </g>
  </svg>
  <span class="name">Travetto</span>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/landing'" href="/">Home</a>
  <a mat-button [routerLink]="'/guide'" href="/guide">Getting Started</a>
  <a mat-button [routerLink]="'/docs'" href="/docs">Documentation</a>
  <a mat-button href="https://github.com/travetto">Github</a>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
  <footer>
    <div class="copyright">ArcSine Technologies &copy; 2018</div>
    <div class="spacer"></div>
    <div class="social">
      <span>Connect on</span>
      <a href="https://twitter.com/travetto_ts" target="_blank">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" />
      </a>
      <a href="https://github.com/travetto" targt="_blank">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
      </a>
    </div>
  </footer>
</div>