$HEADER-HEIGHT: 64px;
$FOOTER-HEIGHT: 100px;
$SMALL-HEADER-HEIGHT: 30px;


:host {
  display: block;
  height: 100%;
}

mat-toolbar {
  height: $HEADER-HEIGHT;

  img.logo {
    width: 50px;
    height: 50px;
  }

  span.name {
    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
  }
  span.spacer {
    flex: 1 1 auto;
  }
  a {
    color: white;
    font-weight: bold;
  }
}

.wrapper {
  width: 100%;

  router-outlet {
    display: none;
  }

  /deep/>:nth-child(2) {
    padding: 0;
    margin: 0;
  }
}

footer {
  display: flex;
  height: $FOOTER-HEIGHT;
  min-height: $FOOTER-HEIGHT;

  width: 100%;
  background-color: lighten(slategray, 30%);
  color: #333;

  div {
    margin-top: 34px;
  }

  .copyright {
    padding-left: 1em;
    height: 32px;
  }

  .spacer {
    flex: 1 1 0;
  }

  .social {
    span {
      display: inline-block;
      line-height: 32px;
      height: 32px;
      vertical-align: top;
      margin-right: .5em;
    }
    a {
      height: 32px;
      width: 32px;
      line-height: 32px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media (min-width: 700px) {
  :host {
    .wrapper {
      height: calc(100vh - #{$HEADER-HEIGHT});

      /deep/>:nth-child(2) {
        min-height: calc(100vh - #{$FOOTER-HEIGHT + $HEADER-HEIGHT});
        p {
          margin-bottom: 0;
          padding-bottom: 12px;
        }
      }

      footer {
        height: $FOOTER-HEIGHT;
        min-height: $FOOTER-HEIGHT;
      }
    }
  }
}

@media (max-width: 700px) {
  :host {
    mat-toolbar {
      width: 100%;
      [mat-button] {
        min-width: 0;
        font-size: 10px;
        padding: 0;
        margin: 0 5px;
      }
      height: $SMALL-HEADER-HEIGHT;
      .name {
        font-size: 20px;
      }
      svg.logo {
        display: none;
      }
      padding: 0px;
      padding-left: 2px;
      img.logo {
        height: 20px;
        width: 20px;
      }
      a[href="/landing"] {
        display: none;
      }
      a[href="https://github.com/travetto"] {
        display: none;
      }
    }
    footer {
      height: auto;
      text-align: center;
      display: block;
      padding: 10px 0;
      >div {
        padding: 0;
        margin: 0;
      }
    }
  }
}