mat-toolbar {

  svg.logo {
    g.layout {
      transform: translate(35px, 30px);
      g.wrapper {
        transform: rotate(30deg);
        path {
          transform: scale(.8, .8);
          stroke: 1px solid gray;
          fill: rgba(255, 255, 255, .5)
        }
      }
      text {
        text-anchor: middle;
        alignment-baseline: central;
        font-family: "Julius Sans One", sans-serif;
        font-size: 30px;
        fill: #666;
      }
    }
  }
  span.title {
    color: white;
    font-size: 1.2em;
  }
  span.spacer {
    flex: 1 1 auto;
  }
  a {
    color: white;
    font-weight: bold;
  }
}