:host {
  display: block;
  height: 100%;
}

mat-toolbar {

  svg.logo {
    width: 70px;
    height: 60px;
    g.layout {
      transform: translate(35px, 30px);
      g.wrapper {
        transform: rotate(30deg);
        path {
          transform: scale(.7, .7);
          stroke: 1px solid gray;
          fill: rgba(255, 255, 255, .5)
        }
      }
      text {
        text-anchor: middle;
        font-family: "Julius Sans One", sans-serif;
        font-weight: normal;
        font-size: 27px;
        fill: #666;
        tspan {
          alignment-baseline: central;
        }
      }
    }
  }
  span.name {
    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
  }
  span.spacer {
    flex: 1 1 auto;
  }
  a {
    color: white;
    font-weight: bold;
  }
}

.wrapper {
  width: 100%;
  height: calc(100% - 64px);
}

footer {
  height: 100px;

  width: 100%;
  background-color: lighten(slategray, 30%);
  color: #333;
  display: flex;

  div {
    margin-top: 34px;
  }

  .copyright {
    padding-left: 1em;
    height: 32px;
  }

  .spacer {
    flex: 1 1 0;
  }

  .social {
    span {
      display: inline-block;
      line-height: 32px;
      height: 32px;
      vertical-align: top;
      margin-right: .5em;
    }
    a {
      height: 32px;
      width: 32px;
      line-height: 32px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media (max-width: 700px) {
  :host {
    mat-toolbar {
      a {
        display: none;
      }
      height: 30px;
      .name {
        font-size: 20px;
      }
      svg.logo {
        display: none;
      }
      padding-left: 35px;
      background-image: url(/assets/logo.png);
      background-size: 26px 26px;
      background-position: 5px 2px;
      background-repeat: no-repeat;
    }
    footer {
      height: auto;
      text-align: center;
      display: block;
      padding: 10px 0;
      >div {
        padding: 0;
        margin: 0;
      }
    }
  }
}