@import '~@angular/material/theming';

$general-typography: mat-typography-config( $font-family: '"Source Sans Pro", sans-serif',
$display-3: mat-typography-level(40px, 24px, 400),
$headline: mat-typography-level(35px, 24px, 400),
$title: mat-typography-level(28px, 24px, 400),
$body-1: mat-typography-level(20px, 20px, 400),
$body-2: mat-typography-level(20px, 20px, 600));
//  $body-2:        mat-typography-level(14px, 24px, 600)  
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-green);
$app-accent: mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

body.mat-typography {
  .mat-display-1,
  .mat-display-2,
  .mat-display-3,
  .mat-display-4,
  h1,
  h2,
  [mat-button] {
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
  }
}

p {
  line-height: 1.25em;
  word-break: break-word;
}

code {
  line-height: 1.5;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  margin: .2em;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  text-align: left;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  font-size: 12pt;
  padding: .2em;
  display: inline-block;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: .3em;
  box-shadow: 1px 1px .3em -.1em black;


  &[class*="language-"] {
    overflow-x: auto;
    font-size: 14pt;

    padding: 1em;
    display: block;
    background: #272822;
    color: #ddd;

    .token {
      &.meta {
        color: orange;
      }

      &.comment,
      &.prolog,
      &.doctype,
      &.cdata {
        color: hsl(30, 20%, 50%);
      }

      &.punctuation {
        opacity: .7;
      }

      &.function {
        color: palegoldenrod;
      }

      &.property,
      &.tag,
      &.boolean,
      &.number,
      &.constant,
      &.symbol {
        color: hsl(350, 40%, 70%);
      }

      &.selector,
      &.attr-name,
      &.string,
      &.char,
      &.builtin,
      &.inserted {
        color: hsl(75, 70%, 60%);
      }

      &.operator,
      &.entity,
      &.url,
      .language-css &.string,
      .style &.string,
      &.variable {
        color: hsl(40, 90%, 60%);
      }

      &.atrule,
      &.attr-value,
      &.keyword {
        color: hsl(350, 40%, 70%);
      }

      &.regex,
      &.important {
        color: lightgreen;
      }

      &.important,
      &.bold {
        font-weight: bold;
      }
      &.italic {
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }

      &.deleted {
        color: red;
      }
    }
  }
}

pre {
  margin-top: 0;
}

@media print {
  pre code[class*="language-"] {
    text-shadow: none;
  }
}

ul {
  list-style-type: circle;
  li {
    line-height: 1.5em;
  }
}